<tr class="{{ type }}">
  <td><time class="timeago" datetime="{{format_time_iso date}}"></time></td>
  <td>{{ ask_member_sn }}</td>
  <td>{{ bid_member_sn }}</td>
  <td>{{ amount }}</td>
  <td>{{ price }}</td>
  <td>{{ total }}</td>
</tr>
